<h2 id="wrapper">Car / Two-Wheeler Parking Sticker Form</h2>
<div class="container mainCard">
    <mat-card>
        <div class="row">
            <div class="col-md-12 order-md-1">
                <form class="needs-validation" novalidate="">
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="name">Name</label>
                            <input type="text" class="form-control" id="name" placeholder="" value="" required="">
                            <div class="invalid-feedback">
                                Valid Name is required.
                            </div>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="employeeId">Employee ID</label>
                            <input type="number" class="form-control" id="employeeId" placeholder="" value=""
                                required="">
                            <div class="invalid-feedback">
                                Valid Employee Id is required.
                            </div>
                        </div>
                    </div>
                    <!-- Phase 1: Name, Employee Id-->
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="name">Level Particular</label>
                            <input type="text" class="form-control" id="levelParticular" placeholder="" value="">
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="regNumber">Two-Wheeler / Car Registration Number</label>
                            <input type="text" class="form-control" id="regNumber" placeholder="XXXX-XX-1234" value=""
                                required="">
                            <div class="invalid-feedback">
                                Valid Registration Number is required.
                            </div>
                        </div>
                    </div>
                    <!-- Phase 2: Level Particular Two-Wheeler Car Reg Number-->
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="processParticular">Process Particular</label>
                            <input type="text" class="form-control" id="processParticular" placeholder="" value="">
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="shiftParticular">Shift Particular</label>
                            <input type="text" class="form-control" id="shiftParticular" placeholder="0900 - 1800"
                                value="">
                            <div class="invalid-feedback">
                                Valid Shift is required.
                            </div>
                        </div>
                    </div>
                    <!-- Phase 3: Process Particular Shift Paticular-->

                    <div class="mb-3">
                        <label for="addressOfResidence">Address of Residence</label>
                        <div class="input-group">
                            <textarea class="form-control"></textarea>
                        </div>
                    </div>
                    <!-- Phase 4: Address of Residence-->
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="contactNumber">Contact Number</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">+91</span>
                                </div>
                                <input type="number" class="form-control" id="contact Number" placeholder=""
                                    required="">
                                <div class="invalid-feedback" style="width: 100%;">
                                    Your contact number is required.
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="emergencyNumber">Emergency Contact Number</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">+91</span>
                                </div>
                                <input type="number" class="form-control" id="contactNumber" placeholder="" required="">
                                <div class="invalid-feedback" style="width: 100%;">
                                    Your emergency contact number is required.
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Phase 5: Contact Number Emergency Contact Number-->
                    <hr class="mb-4">

                    <div class="mb-3">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="termsConditions">
                            <label class="custom-control-label" for="termsConditions">
                                I have read and agree with the <a href="dummyLink">Terms & Conditions</a>.
                            </label>
                        </div>
                    </div>
                    <!-- Phase 6: Terms & Conditions-->

                    <hr class="mb-4">
                    <button class="btn btn-primary btn-lg btn-block" type="submit">Submit</button>
                </form>
            </div>
        </div>
    </mat-card>
</div>