<h2 id="wrapper">Car / Two-Wheeler Parking Sticker Form</h2>
<div class="container mainCard">
    <mat-card>
        <div class="col-md-12 order-md-1">
            <form [formGroup]="parkingForm">
                <!-- Name and Employee ID -->
                <div class="row">
                    <div class="col-md-6 mb-6 form-group">
                        <label for="name">Name</label>
                        <input [class.is-invalid]="submitted && parkingForm.get('name').invalid && parkingForm.get('name').touched" formControlName="name" type="text" class="form-control">
                        <small [class.d-none]="parkingForm.get('name').valid || parkingForm.get('name').untouched"
                            class="text-danger">Name is required</small>
                    </div>
                    <div class="col-md-6 mb-6 form-group">
                        <label for="employee_id">Employee ID</label>
                        <input [class.is-invalid]="submitted && parkingForm.get('employee_id').invalid && parkingForm.get('employee_id').touched" formControlName="employee_id" type="number" class="form-control">
                        <small [class.d-none]="parkingForm.get('employee_id').valid || parkingForm.get('employee_id').untouched"
                            class="text-danger">Employee ID is required</small>
                    </div>
                </div>
                <!-- Level Particular and Registration Number-->
                <div class="row">
                    <div class="col-md-6 mb-6 form-group">
                        <label for="level_particular">Level Particular</label>
                        <input formControlName="level_particular" type="text" class="form-control">
                    </div>
                    <div class="col-md-6 mb-6 form-group">
                        <label for="registration_number">Two-Wheeler / Car Registration Number</label>
                        <input [class.is-invalid]="submitted && parkingForm.get('registration_number').invalid && parkingForm.get('registration_number').touched" formControlName="registration_number" type="text" class="form-control"
                            placeholder="XXXX-XX-1234">
                        <small [class.d-none]="parkingForm.get('registration_number').valid || parkingForm.get('registration_number').untouched"
                            class="text-danger">Registration Number is required</small>
                    </div>
                </div>
                <!-- Process Particular and Shift Particular -->
                <div class="row">
                    <div class="col-md-6 mb-3 form-group">
                        <label for="process_particular">Process Particular</label>
                        <input formControlName="process_particular" type="text" class="form-control">
                    </div>
                    <div class="col-md-6 mb-3 form-group">
                        <label for="shift_particular">Shift Particular</label>
                        <input formControlName="shift_particular" type="text" class="form-control"
                            placeholder="0900 - 1800">
                    </div>
                </div>
                <!-- Address of Residence -->
                <div class="mb-3">
                    <label for="address_of_residence">Address of Residence</label>
                    <div class="input-group form-group">
                        <textarea [class.is-invalid]="submitted && parkingForm.get('address_of_residence').invalid && parkingForm.get('address_of_residence').touched" formControlName="address_of_residence" class="form-control"></textarea>
                    </div>
                    <small [class.d-none]="parkingForm.get('address_of_residence').valid || parkingForm.get('address_of_residence').untouched" class="text-danger">Address of Residence is required</small>

                </div>
                <!-- Contact Number and Emergency Contact Number -->
                <div class="row">
                    <div class="col-md-6 mb-3 form-group">
                        <label for="contact_number">Contact Number</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">+91</span>
                            </div>
                            <input [class.is-invalid]="submitted && parkingForm.get('contact_number').invalid && parkingForm.get('contact_number').touched" formControlName="contact_number" type="number" class="form-control">
                        </div>
                        <small [class.d-none]="parkingForm.get('contact_number').valid || parkingForm.get('contact_number').untouched" class="text-danger">Contact Number is required</small>
                    </div>
                    <div class="col-md-6 mb-3 form-group">
                        <label for="emergency_number">Emergency Contact Number</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">+91</span>
                            </div>
                            <input [class.is-invalid]="submitted && parkingForm.get('emergency_number').invalid && parkingForm.get('emergency_number').touched" formControlName="emergency_number" type="number" class="form-control">
                        </div>
                        <small [class.d-none]="parkingForm.get('emergency_number').valid || parkingForm.get('emergency_number').untouched" class="text-danger">Emergency Number is required</small>
                        <small *ngIf="parkingForm.errors?.same" class="text-danger">Contact Number and Emergency Contact
                            Number should not be same!</small>
                    </div>
                </div>
                <hr class="mb-4">
                <br>
                <!-- Terms and Conditions -->
                <div class="mb-3">
                    <div class="custom-control custom-checkbox form-group">
                        <input formControlName="terms_conditions" type="checkbox" class="custom-control-input" id="terms_conditions">
                        <label class="custom-control-label" for="terms_conditions">
                            I have read, and agree with the <a href="dummyLink">Terms & Conditions</a>.
                        </label>
                    </div>
                </div>
                <br>
                <!--- Submit Button -->
                <hr class="mb-4">
                <button class="btn btn-primary btn-lg btn-block" type="submit" (click)="onSubmit()">Submit</button>
            </form>
        </div>
    </mat-card>
</div>