<p>profile works!</p>
<div class="continer-fluid" id="wrapper">
    <div class="row">
        <div class="col-md-7 profile_labels">
            <h1>Hello Xyz,</h1>
            <p>This is your profile page. You can see the progress you've made with the requests and can manager the requests.</p>
            <button mat-raised-button color="accent">Edit Profile</button>
        </div>
        <div class="col-md-5">
            <img src="./assets/user.png" alt="profile_picture">
        </div>
    </div>
</div>