<h2 id="wrapper">DASHBOARD</h2>
<br>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-9">
            <mat-card  class="mat-elevation-z8">
                <mat-card-title>Latest Notification</mat-card-title>
                <mat-card-content>
                    <mat-list-item>You Car Parking sticker request has been successfully completed!</mat-list-item>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="col-md-3">
            <mat-card class="new_request mat-elevation-z8">
                <mat-card-title>Create New Request</mat-card-title>
                <mat-card-content>
                    <mat-icon>add_circle_outline</mat-icon>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
    <br>
    <br>
    <div class="mb-4">
        <mat-card class="mat-elevation-z8">
            <app-data-table></app-data-table>
        </mat-card>
    </div>
</div>