:host {
    display: flex;
    flex-direction: column;
    height: 100%;
}
mat-drawer {
    width: 250px;
}
mat-drawer-container {
    height: 100%;
}
mat-drawer-content {
    padding: 20px;
    
}
.background{
    background-image: linear-gradient(#673AB7, #512DA8);;
    position: absolute;
    top: 0;
    left: 0;
    height: 400px;
    width: 100%;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}